body {
    padding: 10px;
    background-color: lightgray;

    --color-primary: rgb(111, 198, 228);
    --color-secondary: lightblue;
}

a {
    text-decoration: none;
    color: black;
}

.clear-list {
    list-style: none;
}

.header, .footer {
    background-color: var(--color-primary);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.footer {
    font-size: 20px;
}

.card {
    border-radius: 10px;
    margin-bottom: 10px;
}

.card:hover .card-header {
    background-color: var(--color-primary);
}

.card-header {
    padding: 10px 20px;
    background-color: var(--color-secondary);
}

.card-body {
    font-size: 20px;
}

.link-modal {
    transition: all 0.2s;
    background-color: var(--color-secondary);
    padding: 5px;
    border-radius: 10px;
}

.link-modal:hover {
    background-color: var(--color-primary);
    text-decoration: underline;
}

.social-link {
    transition: all 0.2s;
    color: black;
}

.social-link:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

.studing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-photo {
    width: 98%;
}

/* Close button */

.cl-btn-2 {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.cl-btn-2 div {
    cursor: pointer;
    position: relative; 
    height: 68px;
    width: 50px;
}
.cl-btn-2 .leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #337AB7;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}
.cl-btn-2 .rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #337AB7;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}
.cl-btn-2 .close-btn {
    margin: 54px 0 0 -5px;
    position: absolute;
    color: #337AB7;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in;
    opacity: 0;
}
.cl-btn-2 div:hover .leftright {
    transform: rotate(-45deg);
    background-color: #000;
}
.cl-btn-2 div:hover .rightleft {
    transform: rotate(45deg);
    background-color: #000;
}
.cl-btn-2 div:hover .close-btn {
    opacity: 1;
}